{{#each sedes}}
                <div class="col-lg-4 col-md-6 mt-4 pt-2">
					<div class="card blog rounded border-0 shadow">
						<div class="position-relative">
							<img src="/static/images/{{this.sedes}}.png" class="card-img-top rounded-top" alt="...">
						<div class="overlay rounded-top"></div>
						</div>
						<div class="card-body content">
							<h3><a href="javascript:void(0)" class="card-title title text-dark" style="text-align: center; text-transform: uppercase">{{this.sedes}}</a></h3>
                            <div>
                                <div class="cajaBarra text-dark">
                                    <spam><h5>Lista 12</h4><p>{{this.por_verde}}%</p></spam>
                                    <div class="barra">
                                        <div class="nivelbarraverde" style="width: {{this.por_verde}}%"></div>
                                    </div>
                                </div>
                                <div class="cajaBarra text-dark">
                                    <spam><h5>Lista 9</h4><p>{{this.por_roja}}%</p></spam>
                                    <div class="barra">
                                        <div class="nivelbarraroja" style="width: {{this.por_roja}}%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-meta d-flex justify-content-between mt-3">
                                    <ul class="list-unstyled mb-0">
                                        <li class="list-inline-item mr-2 mb-0"><a href="javascript:void(0)" class="text-muted like"></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"></li>
                                    </ul>
                                    <a href="urnas/{{@index}}" class="text-muted readmore">Detalle de Urnas <i class="mdi mdi-chevron-right"></i></a>
                            </div>
						</div>
					</div>
				</div><!--end col-->
{{/each}}